
/* スマホ用 */
@media(max-width:500px){
    .btn, #setSelect{
        width:100%;
    }
    #setSelect{
        margin-bottom: 40px;
    }

    #description{
        width: 100%;
        font-size:14px;
    }

    .textareaDiv{
        width:100%;        
    }

    #dataArea{
        width:100%;
    }

    #nameBox{
        width:100%;

    }

    #checkBox{
        text-align: left;
        width:200px;
        margin:100px auto;
    }
    #checkBox li{
        margin-bottom: 20px;
    }
    #dsc2{
        font-size: 11px;
    }

    #quizText{
        padding-top: 100px;
    }


    #inputBox{
        width:100%;
    }

    #title{
        margin-bottom:30px;

    }
}
